.cover-page {
    background-image: url('images/Bg-img.jpg');
    /* width: 100%; */
    margin: auto;
    padding-bottom: 15%;
}

.banner {
    /* color: var(--mainWhite); */
    margin-top: 10rem;
}

.banner-title {
    color: var(--mainPink);
    font-size: 4rem;
}

.banner-link {
    font-size: 1.5rem;
    color: var(--mainBlack);
    border: 0.2rem solid var(--mainBlack);
}

.banner-link:hover {
    background: var(--mainBlack);
    color: var(--mainPink);
}


/* About Section */

.image-1 {
    float: inherit;
    width: 70%;
}

#about {
    text-align: center;
    padding-top: 5%;
}


/* Store Section */

#store {
    text-align: center;
}

.selection {
    margin-left: 30px !important;
}

.search {
    margin-top: 15px;
}


/* Chart Section */


/* .img-container {
    margin-left: 30px !important;
} */


/* Cart Section */

.cart {
    position: absolute;
    min-height: 10rem;
    background: var(--mainWhite);
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    width: 0;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5)
}

.show-cart {
    width: 18rem;
    padding: 2rem 1.5rem;
    transform: rotateY(-360deg);
}

.cart-item {
    transition: all 2s ease-in-out;
}

.cart-item-remove {
    color: var(--mainPink);
    transition: all 1s ease-in-out;
}

.cart-item-remove {
    color: var(--mainPink);
    transition: all 1s ease-in-out;
}